.teamHeaderWrapper {

    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.teamHeaderWrapper .left {

    margin-right: 1rem;
}

.teamHeaderWrapper .right {
    flex: 1;
}

.postData {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: 300;
    font-size: 1rem;
}

.postData .date {

    font-weight: 700;
    font-size: 0.8rem;
}

.articleWrapper {

    padding: 1rem;
}

.articleWrapper h1 {

    font-size: 1.6rem;
}

.articleWrapper .articleImage {
    height: 300px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 1rem;
}

.articleWrapper .articleBody {

    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
}


.videoWrapper {

    padding: 1rem;
}
.videoWrapper h1 {

    font-size: 1.4rem;
    margin-bottom: 1.4rem;
}