.loadmore {

        text-align: center;
        font-size: 1.4rem;
        background: #511e78;
        color:white;
        cursor: pointer;
        padding: 1rem 0rem;
        margin-top: 1.5rem;
        
}

.btn {
        display: block;
        text-align: center;
        background: #511e78;
        color: white;
        cursor: pointer;
        padding: 1rem 0rem;
        text-decoration: none;
        font-size: 1.2rem;
}

