.footer {

    display: flex;
    justify-content: space-between;
    background: #242424;
    color: white;
    align-items: center;
    padding: 0.5rem;
    margin-top: 20px;
}

.logo img {

    height: 20px
}